@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Student Roster</h1>
@foreach (var student in Model)
{
    <div class="row">
        <div class="col-sm-6">
            <h3>@student.Name</h3>
        </div>
        <div class="col-sm-6">
            <p>@student.DOE</p>
        </div>
    </div>
}
