@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Student Roster</h1>
@foreach (var student in Model)
{
    <div class="row">
        <div class="col-sm-6">
            <h3><a href="/students/@student.Id/details">@student.Name</a></h3>
        </div>
        <div class="col-sm-6">
            <h3>@student.DOE</h3>
        </div>
        <a href="/students/@student.Id/update" class="btn btn-primary">Update</a>
        <a href="/students/@student.Id/delete" class="btn btn-primary">Delete</a>
    </div>
}
