@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-sm-12">
        <form action="/courses/new" method="post">
            <div class="form-group">
                <label for="name">Enter Course Name</label>
                <input type="text" id="name" name="name" required />
            </div>
            <div class="form-group">
                <label for="course">Select Student To Add</label>
                <select name="course">
                    @foreach(var student in Model)
                    {
                        <option value="@student.Id">@student.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="crn">Enter Course Registration Number</label>
                <input type="text" id="crn" name="crn" required />
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
            <a href="/" class="btn btn-primary">Return to Home</a>
        </form>
    </div>
</div>