@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Course List</h1>
@foreach (var course in Model)
{
    <div class="row">
        <div class="col-sm-6">
            <h3><a href="/courses/@course.Id/details">@course.Name</a></h3>
        </div>
        <div class="col-sm-6">
            <p>@course.CRN</p>
        </div>
    </div>
}
